.counter {
    margin: 8rem auto;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    width: 40rem;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    background-color: #f4f0fa;
  }
  
  .counter h1 {
    text-transform: uppercase;
    color: #575757;
    margin: 0;
    font-size: 1rem;
  }
  
  .value {
    font-size: 2rem;
    color: #ad5034;
    margin: 2rem 0;
    font-weight: bold;
  }
  
  .counter button {
    margin: 1rem;
    font-size: 1.25rem;
    background-color: #c0c538;
    border: 1px solid #3e3f12;
    border-radius: 8px;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    color: #2c2922;
  }
  
  .counter button:hover,
  .counter button:active {
    background-color: rgb(63, 64, 131);
    border-color: #151732;
  }